<div class="container">

<br>
<h5>会員情報編集</h5>
<%= form_with model: @customer do |f| %>

<table width=80% height="200"
  
  <tr>
  <th>氏名</th>
  <td>
  <%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"姓"%>
  <%= f.text_field :last_name, id:"inputName", placeholder:"名"%>
  </td>
  </tr>
  
  
  <tr>
  <th>フリガナ</th>
  <td>
  <%= f.text_field :kana_first_name, id:"inputName", placeholder:"姓（カタカナ）"%>
  <%= f.text_field :kana_last_name, id:"inputName", placeholder:"名（カタカナ）"%>
  </td>
  </tr>
  
  
  <tr>
  <th>郵便番号</th>
  <td><%= f.text_field :postcode, id:"postcode", placeholder:"郵便番号"%></td>
  </tr>
  

  <tr>
  <th>住所</th>
  <td><%= f.text_field :address, id:"address", placeholder:"住所"%></td>
  </tr>
  
  
  <tr>
  <th>電話番号</th>
  <td><%= f.text_field :telephone_number, id:"telephone_number", placeholder:"電話番号"%></td>
  </tr>
  
  
  <tr>
  <th>メールアドレス</th>
  <td><%= f.text_field :email, id:"email", placeholder:"メールアドレス"%></td>
  </tr>
  
  
  </table>
  
  <br>
  
  <%= f.submit "変更を保存", class:'btn btn-outline-success' %>
<% end %>

<br>

<!--<p class="text-right">-->
<!--<font color="red">退会はこちら：</font>-->
<%= link_to customers_confirm_path, class:'btn btn-outline-danger' do %>
<i class="fas fa-heart-broken"></i>退会ページへ
<% end %>
<!--</p>-->

</div>
<br>