<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <h3 class="border-bottom border-gray">商品編集</h3>
  </div>

    <div class="row justify-content-lg-center">
      <div class="mx-auto">
        <div class="col-lg-12">
        <%= flash[:notice] %>
        <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch, local: true do |f| %>

          <div class="form-row pb-md-3">
            <div class="col-sm-4"><%= f.label :商品画像 %></div>
              <div class="col-sm-8"><%= f.file_field :image, accept: 'image/*' %></div>
          </div>

          <div class="form-row pb-md-3">
            <div class="col-sm-4"><%= f.label :商品名 %></div>
              <div class="col-sm-8"><%= f.text_field :name %></div>
          </div>

          <div class="form-row pb-md-3">
            <div class="col-sm-4"><%= f.label :商品説明 %></div>
              <div class="col-sm-8"><%= f.text_area :intro, size: "25x2" %></div>
          </div>

          <div class="form-row pb-md-3">
            <div class="col-sm-4"><%= f.label :ジャンル %></div>
              <div class="col-sm-8"><%= f.select :genre_id, options_from_collection_for_select(@genre, :id, :name, @item.genre_id), { include_blank: "--選択してください--" } %></div>
          </div>

          <div class="form-row pb-md-3">
            <div class="col-sm-4"><%= f.label :税抜価格 %></div>
              <div class="col-sm-8"><%= f.text_field :tax_free_price %>円</div>
          </div>

          <div class="form-row pb-md-3">
            <div class="col-sm-4"><%= f.label :販売ステータス %></div>
              <div class="text-center"><%= f.radio_button :sale_status, :false %><%= f.label :販売中 %></div>
              <div class="text-center pl-md-4"><%= f.radio_button :sale_status, :true %><%= f.label :販売停止中 %></div>
          </div>

          <div class="row justify-content-center mb-md-4">
            <%= f.submit '変更を保存', class: "btn btn-success" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
</div>