<div class="container">
  <div class="row">
    <h4 class="p-3 mb-2 bg-light text-dark">商品新規登録<h4>
  </div>

      <div class="mx-auto">
        <div class="col-lg-12">
        <%= form_with model: @item, url: admin_items_path, method: :post, local: true do |f| %>

          <div class="form-row">
            <div class="col-sm-4">商品画像</div>
              <div class="col-sm-8"><%= f.file_field :image, accept: 'image/*' %></div>
          </div>

          <div class="form-row">
            <div class="col-sm-4">商品名</div>
              <div class="col-sm-8"><%= f.text_field :name %></div>
          </div>

          <div class="form-row">
            <div class="col-sm-4">商品説明</div>
              <div class="col-sm-8"><%= f.text_area :intro %></div>
          </div>

          <div class="form-row">
            <div class="col-sm-4">ジャンル</div>
              <div class="col-sm-8"><%= f.select :genre_id, options_from_collection_for_select(@genre, :id, :name), { include_blank: "選択してください" } %></div>
          </div>

          <div class="form-row">
            <div class="col-sm-4">税抜価格</div>
              <div class="col-sm-8"><%= f.text_field :tax_free_price %>円</div>
          </div>

          <div class="form-row">
            <div class="col-sm-4">販売ステータス</div>
              <%= f.radio_button :sale_status, :false %>　販売中
              <%= f.radio_button :sale_status, :true %>　販売停止中
          </div>

          <div class="row justify-content-center">
            <%= f.submit '新規登録', class: "btn btn-success" %>
          </div>
        <% end %>
        </div>
      </div>
</div>