<div class="container">
  <div class="row justify-content-center mt-3">
    <h3 class="border-bottom border-gray">注文履歴一覧</h3>
  </div>  
  
  <div class="row justify-content-center mb-4">
    <table class="table table-hover table-bordered text-center mt-3">
      <thead class="thead-light">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払い金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td class="align-middle"><%= order.created_at.strftime("%Y/%m/%d") %></td>
          <td class="align-middle"><%= order.delivery_address %></td>
          <td class="align-middle">
            <% order.items.each do |item| %>
            <p><%= item.name %></p>
            <% end %>
          </td>
          <td class="align-middle"><%= order.total_price.to_s(:delimited) %>円</td>
          <td class="align-middle"><%= order.status_i18n %></td>
          <td class="align-middle content-center">
            <%= link_to "表示する", order_path(order.id), class: "btn btn-outline-success" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </thead>  
  </table>
  
  <div class="pagination d-flex justify-content-center mb-4">
    <%= paginate @orders %>
  </div>

</div>