<div class="container">
  <div class="row justify-content-center mt-3">
    <h4 class="border-bottom border-gray">注文履歴一覧</h4>
  </div>  
  
  <div class="row">
    <table class="table table-bordered text-center mt-3">
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払い金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
        
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
            <td><%= order.delivery_address %></td>
            <td>
              <% order.items.each do |item| %>
              <p><%= item.name %></p>
              <% end %>
            </td>
            <td><%= number_with_delimiter(order.total_price) %></td>
            <td><%= order.status_i18n %></td>
            <td>
              <%= link_to "表示する", order_path(order.id), class: "btn btn-outline-success mb-4" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </thead>  
    </table>
  </div>
  
  <div class="pagination d-flex justify-content-center mb-4">
    <%= paginate @orders %>
  </div>

</div>