<div class="container">
  <div class="row justify-content-center mt-3">
    <h4 class="border-bottom border-gray">注文履歴詳細</h4>
  </div>
  
  <div class="row">
    <div class="col-8">
      <p>注文情報</p>
      <table class="table table-bordered">
        <tr>
          <td class="table-secondary">注文日</td>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送先</td>
          <td>
            〒<%= @order.delivery_postcode %><br>
            <%= @order.delivery_address %><br>
            <%= @order.delivery_name %>
          </td>
        </tr>
        <tr>
          <td class="table-secondary">支払方法</td>
          <td><%= @order.pay_option_i18n %></td>
        </tr>
        <tr>
          <td class="table-secondary">ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>
    
    <div class="col-4">
      <p>請求情報</p>
      <table class="table table-bordered">
        <tr>
          <td class="table-secondary">商品合計</td>
          <td><%= (@order.total_price - @postage).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td class="table-secondary">配送料</td>
          <td><%= @postage %>円</td>
        </tr>
        <tr>
          <th class="table-secondary">ご請求額</th>
          <td><%= @order.total_price.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <p>注文内容</p>
    <table class="table table-bordered">
        <tr>
          <td class="table-secondary">商品</td>
          <td class="table-secondary">単価（税込）</td>
          <td class="table-secondary">個数</td>
          <td class="table-secondary">小計</td>
        </tr>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price.to_s(:delimited) %>円</td>
            <td><%= order_detail.buy_quantity %></td>
            <td>
              <%= order_detail.tax_in_price.to_s(:delimited) %>
            </td>
          </tr>
        <% end %>
      </table>
  </div>
</div>