<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-end my-3">
      <h3 class="border-bottom border-gray m-0 pr-1">商品一覧</h3><span>(全<%= @items.count %>件)</span>
  </div>
  <div class="row mx-5 ">
    <div class="content-center d-flex flex-wrap offset-1">
      <% @items.each do |item| %>
        <div class="m-3">
        <%= link_to item_path(item) do %>
          <% if item.image.present? %>
            <%= image_tag item.image, size: '200x150' %><br>
          <% else %>
            <p>画像がありません</p>
          <% end %>
          <p class="text-truncate"><%= item.name %></p>
          <p>¥<%= (item.tax_free_price*1.1).floor.to_s(:delimited) %>(税込)</p>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="pagination d-flex justify-content-center mb-4">
    <%= paginate @items %>
  </div>

</div>
