<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-end my-3">
    <h3 class="border-bottom border-gray m-0 pr-1">商品一覧</h3><span>(全<%= @items.count %>件)</span>
  </div>

  <div class="row justify-content-center">
    <div class="col-2 text-center">
      <%= render 'genrebar', genres: @genres %>
    </div>

    <div class="col-10">
      <div class="d-flex flex-wrap">
      <% @items.each do |item| %>
        <div class="text-center m-3">
        <%= link_to item_path(item) do %>
          <% if item.image.present? %>
            <%= image_tag item.image, size: '200x150', class: "mb-2" %><br>
          <% else %>
            <p>画像がありません</p>
          <% end %>
          <p class="text-truncate text-dark"><%= item.name %></p>
          <p class="text-dark">¥<%= (item.tax_free_price*1.1).floor.to_s(:delimited) %>(税込)</p>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
  
  <div class="pagination d-flex justify-content-center mb-4">
    <%= paginate @items %>
  </div>

</div>
