<header>
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #fde8e9;">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag 'logo.png' , size: '200x40' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


      <% if admin_signed_in? %> <!--adminログイン状態の際に、表示したいheaderのメニューを記載-->
      <li>
      <%= link_to admin_items_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-birthday-cake"></i> 商品一覧
      <% end %>
      </li>

      <li>
      <%= link_to admin_customers_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-user-friends"></i> 会員一覧
      <% end %>
      </li>

      <li>
      <%= link_to admin_homes_top_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-cart-plus"></i> 注文履歴一覧
      <% end %>
      </li>

      <li>
      <%= link_to admin_genres_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-gifts"></i> ジャンル一覧
      <% end %>
      </li>

      <li>
      <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-secondary' do %>
      <i class="fas fa-sign-out-alt"></i> ログアウト
      <% end %>
      </li>




      <% elsif customer_signed_in? %> <!--userログイン状態の際に、表示したいheaderのメニューを記載-->
      
      
      
      <%= link_to customer_path(current_customer),class: 'nav-link text-secondary' do %>
      <i class="fab fa-pagelines"></i> My page
      <% end %>
      </li>

      <li>
      <%= link_to items_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-birthday-cake"></i> Cakes
      <% end %>
      </li>

      <li>
      <%= link_to cart_items_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-shopping-cart"></i> Cart
      <% end %>
      </li>

      <li>
      <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-secondary' do %>
      <i class="fas fa-sign-out-alt"></i> Sign out
      <% end %>
      </li>

      <li>
      <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
      </li>



      <% else %> <!--adminでもuserでもログインしていない時に表示するheaderのメニューを記載-->

      <li>
      <%= link_to about_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-home"></i> About
      <% end %>
      </li>

      <li>
      <%= link_to items_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-birthday-cake"></i> Cakes
      <% end %>
      </li>

      <li>
      <%= link_to new_customer_registration_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-user-plus"></i> Sign up
      <% end %>
      </li>

      <li>
      <%= link_to new_customer_session_path,class: 'nav-link text-secondary' do %>
      <i class="fas fa-sign-in-alt"></i> sign in
      <% end %>
      </li>




      <li>
      <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
      </li>

      <% end %>



        </ul>
      </div>
    </div>
  </nav>
</header>